@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: CraftworkSans;
    font-weight: normal;
    src: url("/fonts/CraftworkSans/CraftworkSans-Regular.woff"),
      url("/fonts/CraftworkSans/CraftworkSans-Regular.woff2"),
      url("/fonts/CraftworkSans/CraftworkSans-Regular.ttf");
  }

  @font-face {
    font-family: CraftworkSans;
    font-weight: bold;
    src: url("/fonts/CraftworkSans/CraftworkSans-Bold.woff"),
      url("/fonts/CraftworkSans/CraftworkSans-Bold.woff2"),
      url("/fonts/CraftworkSans/CraftworkSans-Bold.ttf");
  }

  html {
    font-family: CraftworkSans, system-ui, sans-serif;
  }
}
